<div :class="getStyles()" role="document" x-data="Challenge" x-init="id = {{ challenge.id }}; max_attempts = {{ max_attempts }}; attempts = {{ attempts }}; showSolves();">
  <div class="modal-content tab-content">
  <div class="jchallenge">
      <div class="jchall-box1">
        <div>
          <p class="jchall-title">{{ challenge.name }}</p>
          <p class="jchall-points">Points: {{ challenge.value }}</p>
          <div class="jchallenge-tags text-left">
            {% if tags %}
              {% block tags %}
                {% for tag in tags %}
                  <span class="jchallenge-tag">{{ tag }}</span>
                {% endfor %}
              {% endblock %}
            {% else %}
              <span></span>
            {% endif %}
          </div>
        </div>
        
        <div>
          <div class="jchall-description">
            <div class="jchall-text">{{ challenge.description }}


              <br>
              <br>
              {% if challenge.connection_info %}
                <div>
                  <h4>Connection Information</h4>
                  <span class="challenge-connection-info">
                    {% block connection_info %}
                      {% set conn = challenge.connection_info %}
                      {% if not conn %}
                      {% elif conn.startswith("http") %}
                        {{ conn | urlize(target="_blank") }}
                      {% else %}
                        <code>{{ conn }}</code>
                      {% endif %}
                    {% endblock %}
                  </span>
                </div>
              {% endif %}
            </div>
          </div>
        </div>


        <div>
          {% if files %}
            <div class="jchallenge-files text-center">
              {% for file in files %}
                <div class="jchallenge-file">
                  {% set segments = file.split('/') %}
                  {% set token = file.split('?') | last %}
                  {% if token %}
                    {% set filename = segments | last | replace("?" + token, "") %}
                  {% else %}
                    {% set filename = segments | last %}
                  {% endif %}
                  <a
                      class="d-inline-block text-truncate"
                      href="{{ file }}"
                      title="{{ filename }}"
                  >
                    <i class="fas fa-download"></i>
                    <small>
                      {{ filename }}
                    </small>
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="jchall-box2">
        <div>
          <div class="jchall-input-form">
            {% block input %}
              <input
                  id="challenge-id" class="challenge-id" type="hidden"
                  value="{{ challenge.id }}"
              >
              <input
                  id="challenge-input" class="jchallenge-input"
                  type="text" name="submission"
                  @keyup.enter="submitChallenge()"
                  placeholder="{% trans %}Flag{% endtrans %}" x-model="submission"
              >
            {% endblock %}
            {% block submit %}
              <button
                  id="challenge-submit"
                  class="jchallenge-submit" type="submit"
                  @click.debounce.500ms="submitChallenge()"
              >
                {% trans %}Submit{% endtrans %}
              </button>
            {% endblock %}
          </div>

          <template x-if="max_attempts > 0">
            <p class="text-center jchall-attempts">
              <span x-text="attempts"></span>/<span x-text="max_attempts"></span> {% trans c=max_attempts %}attempt{% pluralize %}attempts{% endtrans %}
            </p>
          </template>
            <div class="row notification-row">
              <div class="col-12">
                <template x-if="response">
                  {# This alert is re-used for all alerts, so it's important not to make it dismissible #}
                  <div class="alert text-center w-100 mt-3"
                      :class="{
                        'alert-success': response.data.status == 'correct',
                        'alert-info': response.data.status == 'already_solved',
                        'alert-danger': response.data.status == 'incorrect',
                        'alert-warning': response.data.status == 'paused',
                      }" role="alert"
                  >
                    <strong x-text="response.data.message"></strong>
                    <div x-show="(response.data.status == 'correct' || response.data.status == 'already_solved')">
                      <div x-show="getNextId()">
                        <button @click="nextChallenge()" class="btn btn-info mt-3">
                          {% trans %}Next Challenge{% endtrans %}
                        </button>
                      </div>
                      {% if Configs.social_shares %}
                      <div>
                        <button x-show="!share_url" @click="getShareUrl()" class="btn btn-sm btn-outline-info mt-3">
                          {% trans %}Share{% endtrans %}
                        </button>
                        <div class="btn-group mt-3" role="group" x-show="share_url">
                          <button type="button" class="btn btn-sm btn-outline-secondary" @click="copyShareUrl()" data-bs-toggle="tooltip" data-bs-title="Copied!">
                            <i class="fa-solid fa-copy"></i>
                          </button>
                          <a :href="'https://twitter.com/intent/tweet?url=' + encodeURIComponent(share_url)" role="button" class="btn btn-sm btn-outline-secondary" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                          <a :href="'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(share_url)" role="button" class="btn btn-sm btn-outline-secondary" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                          <a :href="'http://www.linkedin.com/shareArticle?url=' + encodeURIComponent(share_url)" role="button" class="btn btn-sm btn-outline-secondary" target="_blank">
                            <i class="fa-brands fa-linkedin-in"></i>
                          </a>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </template>
              </div>
            </div>
        </div>


      

        
        
        <div class="jsub-box-2">
          <div class="jchallenge-solves" id="solves">
            <p>Who solved this challenge?</p>
            <div class="jtable-header">
              <ul>
                <li>Name</li>
                <li>Date</li>
              </ul>
            </div>
            <template x-for="solve in solves">
              <div class="jsolve-entry">
                <p><b><a :href="solve.account_url" x-text="solve.name"></a></b></p>
                <p x-text="solve.date"></p>
              </div>
            </template>
          </div>


          {% if hints %}
          <div class="jchallenge-hints"> 
            <div class="col-12 mb-3">
              {% for hint in hints | sort(attribute="cost") %}
                <div class="jchallenge-hint" x-data="Hint" x-init="id = {{ hint.id }}">
                  {% if hint.content %}
                  <details>
                    <summary>{% trans %}View Hint{% endtrans %}{% if hint.title %}: {{ hint.title }}{% endif %}</summary>
                    <div>{{ hint.html | safe }}</div>
                  </details>
                  {% else %}
                  <details @toggle="showHint(event)">
                    {% if hint.title %}
                    <summary>{{ hint.title }} (Cost: {{ hint.cost }} point{{ hint.cost|pluralize }})</summary>
                    {% else %}
                    <summary>Unlock Hint for {{ hint.cost }} point{{ hint.cost|pluralize }}</summary>
                    {% endif %}
                    <div x-html="html"></div>
                  </details>
                  {% endif %}
                </div>
              {% endfor %}
              </div>
          </div>

          {% endif %}

        </div>

      </div>
  </div>
</div>
</div>


