{% extends "base.html" %}

{% block content %}
  <div class="container login-container">
    <div class="box">
      <div class="imgbox">
        <img src="/themes/hikari-theme/static/img/hikari-ops.svg" alt="" class="jimg">
      </div>
    </div>

    <div class="box login-box">
      <div>
        <h2>Entrar no Hikari</h2>
        <p>Ainda não tem uma conta? <a href="{{url_for('auth.register')}}">Crie uma aqui</a></p>
      </div>

      {% with form = Forms.auth.LoginForm() %}
          <form method="post" accept-charset="utf-8">
            <div class="jform-control mb-3">
              {{ form.name(class="", value=name, autocomplete="username email", placeholder="Nome de usuário ou e-mail") }}
            </div>
        

            <div class="jform-control mb-3">
              {{ form.password(class="", value=password, autocomplete="current-password", placeholder="Senha") }}
            </div>

            <div class="mb-3">
                {{ form.submit(class="jbtn", value="Acessar HIKARI") }}
            </div>

            {{ form.nonce() }}
          </form>
        {% endwith %}

        <p class="mt-3 mb-0"><a href="{{ url_for('auth.reset_password') }}">Recuperar senha</a></p>
        {% include "components/errors.html" %}

    </div>
  </div>
{% endblock %}
