{% extends "base.html" %}

{% block content %}
  <div class="container login-container">
    <div class="box">
      <div class="imgbox">
        <img src="/themes/hikari-theme/static/img/hikari-ops.svg" alt="" class="jimg">
      </div>
    </div>

    <div class="box login-box">

        <div>
          <h2>Crie uma conta</h2>
          <p>Já tem uma conta? <a href="{{url_for('auth.login')}}">Faça o login</a></p>
	</div>

        {% with form = Forms.auth.RegistrationForm() %}

          {% from "macros/forms.html" import render_extra_fields %}

          <form method="post" accept-charset="utf-8" role="form">

            <div class="jform-control mb-3">
              {{ form.name(class="", value=name, autocomplete="username", placeholder="Nome de Usuário") }}
            </div>

            <div class="jform-control mb-3">
              {{ form.email(class="", value=email, autocomplete="email", placeholder="E-mail") }}
            </div>

            <div class="jform-control mb-3">
              {{ form.password(class="", value=password, autocomplete="new-password", placeholder="Senha") }}
            </div>

            {{ form.nonce() }}

            {{ render_extra_fields(form.extra) }}

            <div class="">
                {{ form.submit(class="jbtn") }}
            </div>

            {% if Configs.tos_or_privacy %}
              <div class="row pt-3">
                <div class="col-md-12 text-center">
                  <small class="text-muted text-center">
                    {% trans trimmed privacy_link=Configs.privacy_link, tos_link=Configs.tos_link %}
                    Ao se registrar, você concorda com a
                    <a href="{{ privacy_link }}" target="_blank">política de privacidade</a>
                    e os <a href="{{ tos_link }}" target="_blank">termos de uso</a>
                    {% endtrans %}
                  </small>
                </div>
              </div>
            {% endif %}
          </form>
        {% endwith %}
        
        {% include "components/errors.html" %}

      </div>
  </div>

  <script>
  const input = document.getElementById('name');

  input.addEventListener('input', function () {
    this.value = this.value.replace(/[^a-zA-Z0-9]/g, '');
  });
  </script>
{% endblock %}
