{% extends "base.html" %}

{% block content %}
<div class="container login-container">
  <div class="box">
    <div class="imgbox">
      <img src="/themes/hikari-theme/static/img/hikari-ops.svg" alt="" class="jimg">
    </div>
  </div>

  <div class="box login-box">
    {% if mode == "set" %}
      <div>
        <h2>Redefinir senha</h2>
        <p>Informe uma nova senha para acessar sua conta.</p>
      </div>

      {% include "components/errors.html" %}

      {% with form = Forms.auth.ResetPasswordForm() %}
        <form method="post" accept-charset="utf-8">
          <div class="jform-control mb-3">
            {{ form.password(class="", autocomplete="new-password", placeholder="Nova senha") }}
          </div>

          <div class="mb-3">
            {{ form.submit(class="jbtn", value="Salvar nova senha") }}
          </div>

          {{ form.nonce() }}
        </form>
      {% endwith %}

    {% else %}
      <div>
        <h2>Recuperar conta</h2>
        <p>Informe o e-mail associado à sua conta para receber o link de redefinição.</p>
      </div>

      {% include "components/errors.html" %}

      {% with form = Forms.auth.ResetPasswordRequestForm() %}
        <form method="post" accept-charset="utf-8" autocomplete="off">
          <div class="jform-control mb-3">
            {{ form.email(class="", placeholder="Endereço de e-mail") }}
          </div>

          <div class="mb-3">
            {{ form.submit(class="jbtn", value="Enviar link de redefinição") }}
          </div>

          {{ form.nonce() }}
        </form>
      {% endwith %}
    {% endif %}
  </div>
</div>
{% endblock %}
