CTFD_PORT=8000
KIBANA_PORT=5601
ES_PORT=9200
MAIL_UI_PORT=1080
MAIL_SMTP_PORT=1025

# Override the Python package index and Debian mirror if the public endpoints
# (Fastly-fronted) are unreachable from this host. Defaults below are the
# public ones used in CI and during artifact review.
# PIP_INDEX_URL=https://pypi.org/simple/
# DEBIAN_MIRROR=http://deb.debian.org/debian
# Working alternatives observed in some networks:
# PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple/
# DEBIAN_MIRROR=http://ftp.br.debian.org/debian

# Elastic/Kibana credentials are only required if you enable security on
# Elasticsearch in this compose. Defaults below leave security disabled.
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=
KIBANA_USERNAME=elastic
KIBANA_PASSWORD=
